.form-control
  border-radius: 5px
  padding: 5px
  background: transparent
  border: thin solid #aaa
  margin-bottom: 10px

  &:focus
    border: thin solid #16ABD5
    box-shadow: 0 0 5px 0px #16ABD5

.btn
  border-radius: 5px
  padding: 5px
  background-color: #fff
  border: thin solid #aaa
