.login
  display: flex
  align-content: center
  justify-content: center
  flex-direction: column
  height: 100%

.login-form
  display: flex
  flex-direction: row
  justify-content: center

  .form-control
    margin-right: 10px
