.login
  display: flex
  height: 100%
  align-content: center
  justify-content: center

.login-form
  display: flex
  flex-direction: column
  justify-content: center

  .form-control

    &:nth-child(1)
      border-bottom: none
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      margin-bottom: 0

    &:nth-child(2)
      border-top-right-radius: 0
      border-top-left-radius: 0
