.post
  margin: 0 auto 20px
  border: thin solid #eee
  border-radius: 5px
  width: 900px
  padding: 20px
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2)
  transition: transform .3s ease

  &:hover
    transform: scale(1.006)

  h1
    margin-bottom: 20px
