.page-title
  width: 100%
  font-size: 60px
  text-align: center
  font-weight: bold
  margin-bottom: 20px

.empty
  width: 100%
  text-align: center

.post-list > .post
  border: thin solid #eee
  padding: 20px
  border-radius: 5px

.post
  margin-bottom: 20px
  padding: 0
  position: relative

  table
    width: 100%

    tr > td
      padding-bottom: 10px
      vertical-align: top

      .form-control
        width: 100%

      &:first-child
        width: 15%

  .icons
    position: absolute
    line-height: 47px
    height: 47px
    right: 20px
    top: 0

    a
      font-size: 25px

  h1
    margin-bottom: 5px
    font-weight: bold
    font-size: 40px

    a
      color: #222
      font-size: 40px

  em
    display: block
    margin-bottom: 20px
    font-size: 16px

  p
    margin-bottom: 20px

  a
    font-size: 14px

.comments
  width: 100%
  border: 1px solid #ddd
  margin-bottom: 20px
  border-radius: 5px

  .comments-header
    padding: 20px
    background-color: #eee

  .comments-form
    padding: 20px
    border-bottom: 1px solid #ddd
    .form-control
      width: 100%
      resize: none
      height: 90px

  .comments-list
    .comment
      padding: 20px
      border-bottom: 1px solid #ddd

      &:last-child
        border-bottom: none

      strong
        font-weight: bold

      p
        margin: 10px
