.nav-side-toggler
  height: 40px
  width: 40px
  background-color: transparent
  border: none
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

.nav-toggle-icon
  position: relative

.nav-toggle-icon,
.nav-toggle-icon::before,
.nav-toggle-icon::after
  display: flex
  height: 6px
  width: 36px
  border-radius: 3px
  transition: all 0.3s ease 0s
  background: black

.nav-side--expand .nav-toggle-icon::before,
.nav-side--expand .nav-toggle-icon::after
  left: -1px
  top: 0
  width: 20px

.nav-side--expand .nav-toggle-icon::before
  transform: rotate3d(0, 0, 1, 45deg)

.nav-side--expand .nav-toggle-icon::after
  transform: rotate3d(0, 0, 1, -45deg)

.nav-toggle-icon::before,
.nav-toggle-icon::after
  content: ''
  left: 0
  position: absolute
  transform-origin: 3px center

.nav-toggle-icon::before
  top: 10px

.nav-toggle-icon::after
  top: -10px

.nav-side
  width: 60px
  overflow: hidden
  background-color: #eee
  transition: width .5s ease-out
  border-right: thin solid #ddd

.nav-side--expand
  width: 200px

.nav-side-header
  display: flex
  padding: 20px 10px

.nav-side-brand
  width: 0
  height: 40px
  line-height: 40px
  overflow: hidden
  transition: width .5s ease-out
  font-size: 25px

  a, p
    margin-left: 10px
    color: #16ABD5
    text-decoration: none

.nav-side--expand .nav-side-brand
  width: 140px

.nav-side-list
  display: flex
  flex-direction: column
  align-items: flex-start
  flex-grow: 1

.nav-side-list-item
  width: 100%
  a
    font-size: 16px
    overflow-x: hidden
    white-space: nowrap
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    padding: 15px 15px
    text-decoration: none
    transition: background-color .3s ease, color .3s ease
    color: #222

    &:hover
      background-color: #ddd
      color: #16ABD5
    &:active, &.active
      background-color: #aaa
      color: #ddd

  i
    flex-shrink: 0
    width: 30px
    text-align: center
    font-size: 28px
    margin-right: 15px
