@import 'fonts'
@import 'colors'
@import 'sidenav'
@import 'post'
@import 'login'
@import 'form'
@import 'dialog'
@import 'notify'
@import 'error'
@import 'admin'

*
  padding: 0
  margin: 0

html
  height: 100vh

body
  height: 100%
  color: #222
  font-family: 'Raleway', 'OpenSans', Helvetica, sans-serif
  font-weight: 300
  display: flex
  flex-direction: row

.page-content::before
  content: ''
  background-color: black
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  opacity: 0
  pointer-events: none
  transition: opacity .5s ease

.page-wrapper
  position: relative
  display: flex
  flex-grow: 1
  flex-direction: column
  transition: filter .3s ease

.page-content
  flex-grow: 1
  padding: 20px
  height: 100%
  overflow-y: auto

h1, h2, h3, h4, h5
  font-weight: 300

code
  margin-top: 20px
  padding: 10px
  background-color: #eee
  display: block
  font-size: 16px

.hide
  display: none
  visibility: 0

a
  color: $primary-color
  text-decoration: none
  transition: color .3s ease

  &:hover
    color: darken($primary-color, 10%)

.link-affix
  display: inline-block
  transition: padding .3s ease

a.link-prefix::before
  @extend .link-affix
  content: '➔'
  transform: rotate(180deg)
  padding-right: 4px
  padding-left:  4px

a.link-prefix:hover::before
  padding-right: 0px
  padding-left:  8px

a.link-postfix::after
  @extend .link-affix
  content: '➔'
  padding-right: 4px
  padding-left:  4px

a.link-postfix:hover::after
  padding-right: 0px
  padding-left:  8px

hr
  margin: 10px 0
  border: 0
  height: 1px
  background: #333
  background-image: linear-gradient(to right, #eee, #aaa, #eee)

.container
  width: 900px
  margin: 0 auto

.blog-list
  text-align: center

  div
    margin-bottom: 20px

  a
    font-size: 50px
